<div class="container">
<div class="row">
  <div class="twelve columns" style="margin-top: 5%">
    <a class="siang" href="/">Siang</a></h1>
    <nav class="nav">
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="https://apcpapers.github.io/"><b>APC Papers</b></a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <hr>
  </div>
</div>
</div>
