body a {
	text-decoration: none !important;
}

.nav ul li:nth-child(n+2):before {
	content: "/ ";
}
.nav ul li {
	display: inline;	
}
.nav ul li a {
	color: #888;
}

.siang {
	color: #111 !important;
	font-size: 2em;
	font-weight: 600;
}

.footer{
	color: #bbb;
} 

.footer a{
	color: #777;
} 

.footer hr{
	margin-bottom: 0.5em;
}

.blog-posts ul li{
	list-style-type: none;
	font-size: 1.5em;
}

.blog-posts .post-title{
	color: #222;
}

.blog-posts .post-date{
	color: #ccc;
	font-size: 0.8em;
}

.profile-pic{
	float: right;
	width: 200px;
	max-width: 50%;
	margin-left: 20px;
	margin-bottom: 20px;
}

